.country{
    border: 2px solid tomato;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}
.country img{
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.visited{
    background-color: bisque;
}